/*----------------------------------------------------------------------------
Global Reset
----------------------------------------------------------------------------*/

* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix { height: 1%; }
.clearfix { display:inline-block; }
.clearfix { display: block; }

/*----------------------------------------------------------------------------
Body
----------------------------------------------------------------------------*/

body {
  margin: 0 auto;
  font-family: 'Libre Baskerville', Georgia, Times, serif;
  max-width: 680px;
  padding: 0 20px;
}

body > section {
  margin-top: 3em;
  padding: 0 .5em;
}

body > footer {
  text-align: left;
  font-style: italic;
  color: #888;
  margin-top: 5em;
  margin-bottom: 2em;
  padding-left: .5em;
}

body > header {
  margin-top: 1em;
  padding-left: .5em;
  overflow: hidden;
}

body > header h1 {
  font-size: 1.5em;
  float: left;
}

body > header nav {
  padding: .5em 0 0 3em;
  float: left;
  font-style: italic;
  font-size: small;
}

header, footer, section, article { display: block; }

hr { margin: 2em 0; }

a { color: #b83000; }

a:hover { text-decoration: underline; }

h1 a { text-decoration: none; }

section h1 { font-size: 2em; }

section h1 a { color: black; }

code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
}

pre { padding: 1em; }

blockquote { font-style: italic; }

.content {
  line-height: 1.6em;
  clear: both;
}

.content p {
  padding-left: 1em;
}

.date {
  font-style: italic;
  float: right;
}

.post .more {
  font-style: italic;
  text-align: right;
}

#articles .content {
  max-width: 45em;
}

section header {
  margin-bottom: 3em;
  height: 2em;
}

header h1 {
  float: left;
  margin: 0;
}

h2 {
  margin-top: 2em;
}

.more a { text-decoration: none; }

.more a:hover { text-decoration: underline }
