* {
  padding:0;
  margin:0;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address { margin:1em 0; }
li, dd { margin-left:5%; }
fieldset { padding: .5em; }
select option{ padding:0 5px; }

.access{ display:none; } /* For accessibility related elements */
.clear{ clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden; }
a{ outline:none; }
a img{ border:none; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix { height: 1%; }
.clearfix { display:inline-block; }
.clearfix { display: block; }

body {
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  max-width: 720px;
  padding: 0 .8em;
}

body > section { margin-top: 3em; }

body > header {
  margin-top: 1em;
  overflow: hidden;
}

body > header h1 {
  font-size: 1.5em;
  float: left;
}

body > header nav {
  padding: .5em 0 0 3em;
  float: left;
  font-style: italic;
  font-size: smaller;
}

header h1 {
  float: left;
  margin: 0;
}

body > footer {
  text-align: left;
  font-style: italic;
  color: #888;
  margin-top: 5em;
  margin-bottom: 2em;
}

body > footer a { text-decoration: none; }

body > footer a:hover { text-decoration: underline }

header, footer, section, article { display: block; }

hr { margin: 2em 0 }

code {
  font-family: 'Anonymous Pro', 'Bitstream Vera Sans', 'Monaco', Courier, mono;
  padding: 0 .1em;
}

blockquote { font-style: italic }

a { color: #b83000 }

a:hover { text-decoration: underline }

h1 a { text-decoration: none }

h2 { margin-top: 2em }

section h1 { font-size: 1.7em }

section h1 a { color: black }

section header {
  margin-bottom: 2em;
  height: 2em;
}

.content {
  line-height: 1.6em;
  clear: both;
}

.date {
  font-style: italic;
  float: right;
  padding-top: .3em;
}

#articles .content { max-width: 45em }

.content hr {
  margin: 1em 0 1em 0;
  text-align: center;
  letter-spacing: 3px;
  color: #bbb;
  border: none;
}

.content hr:before {
  content: '\2022 \2022 \2022 \2022 \2022';
}

.content p, .content ul, pre { padding-left: 1em }

body > footer, body > section, body > header { padding-left: .5em }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .content p, pre { padding-left: .3em }
  .content ul { padding-left: 1em }

  body > footer, body > section, body > header { padding-left: 0 }
}
