<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="public/main.css">
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/feed" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/"><%= Coil.config("title") %></a>
      </h1>
      <nav>
        <a href="/archives">Archives</a> -
        <a href="/feed">RSS</a>
      </nav>
    </header>
    <section>
      <%= content %>
    </section>
    <footer>
      Powered by <strong>Coil</strong>
    </footer>
  </body>
</html>
